$bp--grid-small: 550px;
$bp--grid-medium: 730px;
$bp--grid-large: 860px;
$bp--grid-xlarge: 1140px;
$bp--grid-xxlarge: 1300px;

/*
    page head
*/
$bp--page-head-small: 300px;
$bp--page-head-medium: 500px;
$bp--page-head-large: 760px;