/*  ==========================================================================
    Toolbox:Settings:Colors
    ========================================================================== */

// typography
$color-body: #646464;
$color-body--hover: lighten($color-body, 10);
$color-link: blue;
$color-link--hover: lighten(blue, 10);