/*  ==========================================================================
    Toolbox:Settings:Fonts
    ========================================================================== */

// font families
$ff--main: Helvetica, Arial, sans-serif;

// font sizes
$fs--base: 16px;
$fs--browser-default: 16px;
$fs--alpha: 28px;
$fs--beta: 24px;
$fs--gamma: 22px;
$fs--delta: 20px;
$fs--epsilon: 18px;
$fs--zeta: 16px;