/*  ==========================================================================
    Toolbox:Settings:Units
    ========================================================================== */
/*
    Gutters
    -------
*/
$gutter: 10px;

/*
    Widths
    ------
*/
$width--site-min: 300px;
$width--site-max: 1200px;

/*
    Spacing units
    -------------
*/
$su--block: 24px;
$su--block--half: ($su--block / 2);